@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg: #fafaf7;
  --color-text: #000000;
  --color-pink: #ff42ad;
  --color-blue: #37ceff;
  --color-dark: #1a1a1a;
}

body {
  margin: 0;
  font-family: 'Pretendard', system-ui, sans-serif;
  background: var(--color-bg);
  color: var(--color-text);
}
